.card-container {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ion-button {
    float: right;
    margin-right: 1rem;
  }

  ion-card-title {
    text-transform: uppercase;
  }
}
