<app-header title="Usuários"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Usuários</ion-title>
      <ion-buttons slot="end" class="ion-padding-end">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <app-card-usuarios
    (deleteUserEvent)="onDeleteUser()"
    *ngFor="let user of users()"
    [user]="user"
    ></app-card-usuarios>
  </div>
</ion-content>
