ion-toolbar {
  --background: rgb(3, 47, 54);
  --color: rgb(237, 237, 237);
}

ion-item {
  cursor: pointer;
  font-size: .9rem;
}


ion-chip {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  background: transparent;
  padding: 1rem;

  ion-avatar {
    width: 48px;
    height: 48px;
  }
}
