<app-side-menu></app-side-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title> Registrar entrega </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <!-- <ion-list> -->
      <header>
      <section>
        <div>
          <ion-button expand="block" (click)="scan()"
            ><ion-icon name="barcode-outline"></ion-icon>
          </ion-button>
          <ion-input
            placeholder="Chave aqui"
            (ionInput)="changeValueInputKey($event)"
            (keyup)="onKeyUpByKey($event)"
            value="{{nfKey}}"
          />
        </div>

        <div>
          <ion-button expand="block" (click)="scanQrCode()">
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-button>
          <ion-input
            placeholder="Qr code aqui"
            (ionInput)="changeValueInput($event)"
            (keyup)="onKeyUp($event)"
            value="{{valueInput}}"
          />
        </div>
      </section>
    </header>
    <!-- </ion-list> -->
    @if(isLoading) {
      <div class="ion-justify-content-center ion-margin-top">
        <ion-label>Carregando...</ion-label>
        <ion-spinner></ion-spinner>
      </div>
    }
    @if(document.iddocumento) {
      <app-document-info
      (clearInputCode)="handleClearCode()"
      [document]="document"
      [dataEntrega]="dataEntrega"
      [updateComplete]="updateComplete"
      [canOpenModal]="canOpenModal"
      >
    </app-document-info>
    } @else {
      <app-empty-document></app-empty-document>
    }
  </ion-content>
</div>
