ion-content {
  > :first-child {
    margin-top: 2rem;
  }

  header {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    margin: 0 auto;
    padding: .5rem;
    gap: 1rem;

    ion-button {
      height: 100%;
    }

    ion-input {
      margin-top: 16px;
      margin-top: 0;
      display: flex;
      border-bottom: 1px solid gray;
      font-size: 1.2rem;
      border-bottom-color: #dedede;
    }
  }

  ion-list-header {
    margin: 0;

    ion-label {
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: 700;
      color: #0b5c69
    }
  }
}

ion-toolbar {
  --background: linear-gradient(196deg, rgb(29, 209, 206) 0%, #032f36 100%);
  --color: rgb(237, 237, 237);
}

ion-button {
  --background: rgb(4, 129, 129);
  font-weight: bold;
}

ion-card {
  margin-top: 1rem;
  margin-bottom: 2rem;


  ion-card-content {
    padding-bottom: 1rem;
  }
}


#open-modal {
  margin-top: 1.6rem;
}
